.form_su {
    float: left;
    margin-top: 20px;
    margin-left: 350px;
    width: 50%;
    font-size: larger;
}

.btn_c {
    height: 40px;
}

.options {
    height: 100px;
}

.switches {
    height: 80px;
}