.left {
    float: left;
    width: 30%;
    height: 1000px;
    text-align: center;
    background-color: rgb(76, 76, 82);
}

.right {
    float: right;
    width: 70%;
    text-align: center;
    padding-top: 2rem;
}

.Header {
    padding-top: 50px;
}