.yes {
    width: 800px;
    margin-left: 22rem;
    height: 600px;
    padding-top: 8px;
    padding-bottom: 40px;
}

.yes2 {
    height: 700px;
    padding-top: 8px;
    padding-bottom: 40px;
}

.cap {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}